.homepage {
  border-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  flex: 1;
}

.hero-section {
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: gold;
  font-size: 2.5rem;
}

.featured-products-comp {
  display: flex;
  flex-direction: column;
  justify-self: unset;
  align-self: baseline;
  margin: 30px 40px;
  justify-content: baseline;
}

h2 {
  color: gold;
  font-weight: lighter;
  font-size: 32px;
  text-align: left;
}

/* For mobile devices */
@media (max-width: 768px) {
  h2 {
    font-size: 24px;
    text-align: center; /* Center the heading for smaller screens */
  }
}

/* For tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 26px;
    text-align: center; /* Adjust as necessary */
  }
}
